<!doctype html> 
<head>
  <title>PlayerStatsDuuuude</title>
  <style>
    .stats_box {
    border-style: solid;
    border-width: 1.2px;
    width: 10%;
    position: relative;
    left: 50%;
    }
    .weapon_stats {
    border-style: solid;
    border-width: 1.2px;
    width: 40%;
    float: left;
    }
    .summary {
    width: 50%
    }
  </style>
</head>
<body>

<div>
  <a href="/">Home</a>
</div>

<h1>Player Summary for {{ data.Id }}</h1>

<div class="summary">
  {% for stats in weaponstats %}
  <div class="weapon_stats">
    {% for weapon in weapons %}
    {% if weapon.id|string == stats.WeaponId.StockId|string %}
      <h3>{{ weapon.name }}</h3>
    {% endif %}
    {% endfor %}
    Total Kills: {{ stats.TotalKills }}
  </div>
  {% endfor %}
</div>

<div class="stats_box">
  Total headshots {{ data.Result.ArenaStats.TotalHeadshots }}
</div>

</body>
